<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Калькулятор выхода на пенсию</title>
</head>

<body>
<main role="main">
    <div class="starter-template">
        <h1>Ошибка рассчета</h1>
        <h2>
            <span th:text="'Hello, ' + ${message}">Ошибка</span>
        </h2>
    </div>
    <a href="/">Вернуться</a>
</main>
</body>
</html>
